<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="/kexin/resources/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/kexin/resources/css/signin.css" rel="stylesheet">

</head>

<body>
<div class="container">

    <h1 class="text-center">可信认证中心登陆界面</h1>

    <form name="UserLogin" method="post" action="login"
          class="form-signin" role="form">

        <h3 class="form-signin-heading">请登录</h3>
        $!errorMessage
        <input type="text" class="form-control" placeholder="username"
               name="user_name" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <a class="text-center btn btn-small" href="register" >新用户注册</a>
    </form>

</div>


</body>
</html>