body {
    font-family: 微软雅黑, Arial, Helvetica, sans-serif;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#head {
    height: 90px;
}

#body {
    margin-top: 20px;
}

#footer {
    background: none repeat scroll 0 0 #F9F9F9;
    border-top: 1px solid #BBBBBB;
    padding-top: 20px;
    margin: 200px 0 0 0;
    height: 100px;
    font-size: 14px;
    line-height: 20px;
    color: #9B9B9B;
    text-align: center;

}

#footer a {
    color: #9B9B9B;
}

#footer a:hover {
    text-decoration: none;
}

.z-box {
    width: 100%;
}

.z-box-title {
    border-bottom: 1px solid;
    border-bottom-color: #295496;
    height: 35px;
}

.z-desc {
    display: block;
    padding: 0 20px 0 20px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    float: left;
    background-color: #295496;
}

.z-sub-desc {
    display: block;
    float: left;
    padding-left: 15px;
    line-height: 35px;
    font-size: 14px;
    color: #aaa;
}

.z-box-content {
    border-left: 1px solid #295496;
    border-right: 1px solid #295496;
    border-bottom: 1px solid #295496;
}