<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tongji.kexin_ca.dao.ILocationDao">
    <insert id="addLocation">
        INSERT INTO location (user_id, time, longitude, latitude, result)
        VALUES (#{userId}, #{time}, #{longitude}, #{latitude}, #{result})
    </insert>

    <select id="selectLocationsByUserID" resultType="com.tongji.kexin_ca.entity.Location">
        SELECT *
        FROM location
        WHERE user_id = #{userId}
    </select>

    <select id="countUserLocation" resultType="java.lang.Integer">
        SELECT count(*)
        FROM location
        WHERE user_id = #{userId}
    </select>
    <select id="selectLocationByUserIDandDate" resultType="com.tongji.kexin_ca.entity.Location">
        SELECT *
        FROM location
        WHERE user_id = #{userId} AND date(time) = date(#{date})
        ORDER BY time ASC

    </select>

    <select id="getAllUserIds" resultType="java.lang.Integer">
        SELECT DISTINCT *
        FROM users
    </select>
    <select id="getLocationsAfterGivenTime" resultType="com.tongji.kexin_ca.entity.Location">
        SELECT *
        FROM location
        WHERE time > #{startTime}
        ORDER BY time DESC
        LIMIT 50
    </select>
</mapper>