<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>可信平台监控中心导航</title>

    <link href="/kexin/resources/css/reset.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="/kexin/resources/css/layout.css" rel="stylesheet" type="text/css" media="screen"/>

    <script src="/kexin/resources/js/jquery.min.js" type="text/javascript"></script>
    <script src="/kexin/resources/js/highcharts.js" type="text/javascript"></script>
    <script src="/kexin/resources/js/exporting.js" type="text/javascript"></script>

    <script type="text/javascript">

    </script>
</head>
<body>
<a href="ub/display/monitor?userId=-1" style="display:block;height: 30px; padding: 10px;">全部用户的浏览行为监控显示器</a> <br/>
<a href="ub/display/monitor?userId=1" style="display:block;height: 30px; padding: 10px;">单用户的浏览行为监控显示器</a> <br/>
<a href="location/display/monitor?userId=-1" style="display:block;height: 30px; padding: 10px;">全部用户的地理位置监控显示器</a> <br/>
<a href="location/display/monitor?userId=4" style="display:block;height: 30px; padding: 10px;">单用户的地理位置监控显示器</a> <br/>
<a href="location/display/map_monitor?userId=4" style="display:block;height: 30px; padding: 10px;">用户地理位置地图监控显示器</a>
<br/>
</body>
</html>
